<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fc.test.mapper.auto.ThTaskMapper">
  <resultMap id="BaseResultMap" type="com.fc.test.model.auto.ThTask">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="type" jdbcType="CHAR" property="type" />
    <result column="number" jdbcType="INTEGER" property="number" />
    <result column="old_number" jdbcType="INTEGER" property="oldNumber" />
    <result column="user_ids" jdbcType="VARCHAR" property="userIds" />
    <result column="duscuss_ids" jdbcType="VARCHAR" property="duscussIds" />
    <result column="user_group_id" jdbcType="INTEGER" property="userGroupId" />
    <result column="discuss_group_id" jdbcType="INTEGER" property="discussGroupId" />
    <result column="start" jdbcType="INTEGER" property="start" />
    <result column="end" jdbcType="INTEGER" property="end" />
    <result column="isdel" jdbcType="CHAR" property="isdel" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
<sql id="Base_Column_List">
	  	  	      	id,
       	  	      	url,
       	  	      	type,
       	  	      	number,
       	  	      	old_number,
       	  	      	user_ids,
       	  	      	duscuss_ids,
       	  	      	user_group_id,
       	  	      	discuss_group_id,
       	  	      	start,
       	  	      	end,
       	  	      	isdel,
       	  	      	create_time,
       	  	    	  	update_time
       	</sql>
<sql id="Base_Column_List1">
	  	  	      	tk.id,
       	  	      	tk.url,
       	  	      	tk.type,
       	  	      	tk.number,
       	  	      	tk.old_number,
       	  	      	tk.user_ids,
       	  	      	tk.duscuss_ids,
       	  	      	tk.user_group_id,
       	  	      	gp.user_group_name groupName,
       	  	      	tk.discuss_group_id,
       	  	      	dsgp.discuss_group_name discussGroupName,
       	  	      	tk.start,
       	  	      	tk.end,
       	  	      	tk.isdel,
       	  	      	tk.create_time,
       	  	    	  	tk.update_time
       	</sql>
  <select id="selectByExample" parameterType="com.fc.test.model.auto.ThTaskExample" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List1" />
    from th_task tk
    LEFT JOIN th_user_group gp on gp.id = tk.user_group_id
    LEFT JOIN th_discuss_group dsgp on dsgp.id = tk.discuss_group_id
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from th_task
    where id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from th_task
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.fc.test.model.auto.ThTaskExample">
    delete from th_task
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  
  <insert id="insert" parameterType="com.fc.test.model.auto.ThTask">
    insert into th_task (
      	  	       id,
       	  	       url,
       	  	       type,
       	  	       number,
       	  	       old_number,
       	  	       user_ids,
       	  	       duscuss_ids,
       	  	       user_group_id,
       	  	       discuss_group_id,
       	  	       start,
       	  	       end,
       	  	       isdel,
       	  	       create_time,
       	  	    	  update_time
       	    )
    values (
	  	  	      	#{id,jdbcType=INTEGER},
       	  	      	#{url,jdbcType=VARCHAR},
       	  	      	#{type,jdbcType=CHAR},
       	  	      	#{number,jdbcType=INTEGER},
       	  	      	#{oldNumber,jdbcType=INTEGER},
       	  	      	#{userIds,jdbcType=VARCHAR},
       	  	      	#{duscussIds,jdbcType=VARCHAR},
       	  	      	#{userGroupId,jdbcType=INTEGER},
       	  	      	#{discussGroupId,jdbcType=INTEGER},
       	  	      	#{start,jdbcType=INTEGER},
       	  	      	#{end,jdbcType=INTEGER},
       	  	      	#{isdel,jdbcType=CHAR},
       	  	      	#{createTime,jdbcType=TIMESTAMP},
       	  	    	  #{updateTime,jdbcType=TIMESTAMP}
       	    )
  </insert>
  
  <insert id="insertSelective" parameterType="com.fc.test.model.auto.ThTask">
    insert into th_task
    <trim prefix="(" suffix=")" suffixOverrides=",">
          
      <if test="id != null">
        id,
      </if>
      
         
      <if test="url != null">
        url,
      </if>
      
         
      <if test="type != null">
        type,
      </if>
      
         
      <if test="number != null">
        number,
      </if>
      
         
      <if test="oldNumber != null">
        old_number,
      </if>
      
         
      <if test="userIds != null">
        user_ids,
      </if>
      
         
      <if test="duscussIds != null">
        duscuss_ids,
      </if>
      
         
      <if test="userGroupId != null">
        user_group_id,
      </if>
      
         
      <if test="discussGroupId != null">
        discuss_group_id,
      </if>
      
         
      <if test="start != null">
        start,
      </if>
      
         
      <if test="end != null">
        end,
      </if>
      
         
      <if test="isdel != null">
        isdel,
      </if>
      
         
      <if test="createTime != null">
        create_time,
      </if>
      
         
      <if test="updateTime != null">
        update_time,
      </if>
      
         </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
          <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
          <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
          <if test="type != null">
        #{type,jdbcType=CHAR},
      </if>
          <if test="number != null">
        #{number,jdbcType=INTEGER},
      </if>
          <if test="oldNumber != null">
        #{oldNumber,jdbcType=INTEGER},
      </if>
          <if test="userIds != null">
        #{userIds,jdbcType=VARCHAR},
      </if>
          <if test="duscussIds != null">
        #{duscussIds,jdbcType=VARCHAR},
      </if>
          <if test="userGroupId != null">
        #{userGroupId,jdbcType=INTEGER},
      </if>
          <if test="discussGroupId != null">
        #{discussGroupId,jdbcType=INTEGER},
      </if>
          <if test="start != null">
        #{start,jdbcType=INTEGER},
      </if>
          <if test="end != null">
        #{end,jdbcType=INTEGER},
      </if>
          <if test="isdel != null">
        #{isdel,jdbcType=CHAR},
      </if>
          <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
          <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
        </trim>
  </insert>
  
  <select id="countByExample" parameterType="com.fc.test.model.auto.ThTaskExample" resultType="java.lang.Long">
    select count(*) from th_task
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  
  <update id="updateByExampleSelective" parameterType="map">
    update th_task
    <set>
          <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
          <if test="record.url != null">
        url = #{record.url,jdbcType=VARCHAR},
      </if>
          <if test="record.type != null">
        type = #{record.type,jdbcType=CHAR},
      </if>
          <if test="record.number != null">
        number = #{record.number,jdbcType=INTEGER},
      </if>
          <if test="record.oldNumber != null">
        old_number = #{record.oldNumber,jdbcType=INTEGER},
      </if>
          <if test="record.userIds != null">
        user_ids = #{record.userIds,jdbcType=VARCHAR},
      </if>
          <if test="record.duscussIds != null">
        duscuss_ids = #{record.duscussIds,jdbcType=VARCHAR},
      </if>
          <if test="record.userGroupId != null">
        user_group_id = #{record.userGroupId,jdbcType=INTEGER},
      </if>
          <if test="record.discussGroupId != null">
        discuss_group_id = #{record.discussGroupId,jdbcType=INTEGER},
      </if>
          <if test="record.start != null">
        start = #{record.start,jdbcType=INTEGER},
      </if>
          <if test="record.end != null">
        end = #{record.end,jdbcType=INTEGER},
      </if>
          <if test="record.isdel != null">
        isdel = #{record.isdel,jdbcType=CHAR},
      </if>
          <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
          <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
         
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  
  
  <update id="updateByExample" parameterType="map">
    update th_task
    set
            	     	 id = #{record.id,jdbcType=INTEGER},
    	         	     	 url = #{record.url,jdbcType=VARCHAR},
    	         	     	 type = #{record.type,jdbcType=CHAR},
    	         	     	 number = #{record.number,jdbcType=INTEGER},
    	         	     	 old_number = #{record.oldNumber,jdbcType=INTEGER},
    	         	     	 user_ids = #{record.userIds,jdbcType=VARCHAR},
    	         	     	 duscuss_ids = #{record.duscussIds,jdbcType=VARCHAR},
    	         	     	 user_group_id = #{record.userGroupId,jdbcType=INTEGER},
    	         	     	 discuss_group_id = #{record.discussGroupId,jdbcType=INTEGER},
    	         	     	 start = #{record.start,jdbcType=INTEGER},
    	         	     	 end = #{record.end,jdbcType=INTEGER},
    	         	     	 isdel = #{record.isdel,jdbcType=CHAR},
    	         	     	 create_time = #{record.createTime,jdbcType=TIMESTAMP},
    	         	     	 update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    	         <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  
  
      <update id="updateByPrimaryKeySelective" parameterType="com.fc.test.model.auto.ThTask">
    update th_task
    <set>
                          <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
                      <if test="type != null">
        type = #{type,jdbcType=CHAR},
      </if>
                      <if test="number != null">
        number = #{number,jdbcType=INTEGER},
      </if>
                      <if test="oldNumber != null">
        old_number = #{oldNumber,jdbcType=INTEGER},
      </if>
                      <if test="userIds != null">
        user_ids = #{userIds,jdbcType=VARCHAR},
      </if>
                      <if test="duscussIds != null">
        duscuss_ids = #{duscussIds,jdbcType=VARCHAR},
      </if>
                      <if test="userGroupId != null">
        user_group_id = #{userGroupId,jdbcType=INTEGER},
      </if>
                      <if test="discussGroupId != null">
        discuss_group_id = #{discussGroupId,jdbcType=INTEGER},
      </if>
                      <if test="start != null">
        start = #{start,jdbcType=INTEGER},
      </if>
                      <if test="end != null">
        end = #{end,jdbcType=INTEGER},
      </if>
                      <if test="isdel != null">
        isdel = #{isdel,jdbcType=CHAR},
      </if>
                      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
                      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
              </set>
    where 
            id = #{id,jdbcType=INTEGER}
                                                                                                                  
  </update>

      	      	   	      	   	      	   	      	   	      	   	      	   	      	   	      	   	      	   	      	   	      	   	      	   	      	   	      	

  <update id="updateByPrimaryKey" parameterType="com.fc.test.model.auto.ThTask">
    update th_task
    set 
             	        	    	 			url = #{url,jdbcType=VARCHAR},
		     	        	    	 			type = #{type,jdbcType=CHAR},
		     	        	    	 			number = #{number,jdbcType=INTEGER},
		     	        	    	 			old_number = #{oldNumber,jdbcType=INTEGER},
		     	        	    	 			user_ids = #{userIds,jdbcType=VARCHAR},
		     	        	    	 			duscuss_ids = #{duscussIds,jdbcType=VARCHAR},
		     	        	    	 			user_group_id = #{userGroupId,jdbcType=INTEGER},
		     	        	    	 			discuss_group_id = #{discussGroupId,jdbcType=INTEGER},
		     	        	    	 			start = #{start,jdbcType=INTEGER},
		     	        	    	 			end = #{end,jdbcType=INTEGER},
		     	        	    	 			isdel = #{isdel,jdbcType=CHAR},
		     	        	    	 			create_time = #{createTime,jdbcType=TIMESTAMP},
		     	        	    	 			update_time = #{updateTime,jdbcType=TIMESTAMP}
		     	        where 
            id = #{id,jdbcType=INTEGER}
                                                                                                                    
  </update>
  
                                                                          
</mapper>